<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativepushnotifier"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <application tools:node="merge">
  </application>
</manifest>

